/* global css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  h1 {
    font-size: 2.6rem;
  }
  
  h2 {
    font-size: 4.8rem;
  }
  
  h3 {
    font-size: 3rem;
    font-weight: normal;
  }
  
  h4,
  h5 {
    font-size: 1.8rem;
  }
  
  li,
  button {
    font-size: 2rem;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  body {
    font-family: Calibri, sans-serif;
  }
  
  /* header */
  
  .main-head {
    background: #000000;
    color: #ffffff;
  }
  
  nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
  }
  
  nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  
  #logo {
    flex: 2 1 40rem;
    font-family: Calibri, sans-serif;
    font-weight: normal;
  }
  
  /* hero */
  .hero {
    min-height: 90vh;
    background: linear-gradient(rgb(0, 0, 0, 0.4), transparent),
      url("https://gitlab.com/scobra/scobra/-/raw/master/public/medias/Scobra.png?ref_type=heads"); /* photo de couverture du site (body) */
    background-size: cover;
    background-position: bottom;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero h3 {
    padding: 4rem;
  }
  
  button {
    padding: 2rem 6rem;
    background: #000000;
    color: #ffffff;
    font-size: 1.8rem;
    cursor: pointer;
    border: none;
  }
  
  @media screen and (max-width: 885px) {
    html {
      font-size: 45%;
    }
    nav {
      text-align: center;
    }
    #logo {
      padding: 2rem;
    }
  }
  
  /* details */
  details {
    border: 3px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    width: 40%;
  }
  
  summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
  }
  
  details[open] {
    padding: 0.5em;
  }
  
  details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
  }
  
  /* images border-radius */
  img {
    border-radius: 1%;
  }
  
  /* texte effect*/
  .typing {
    height: 80vh;
  }
  
  .typing-effect {
    width: 22ch;
    animation: typing 2s steps(22), effect 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes effect {
    50% {
      border-color: transparent;
    }
  }

/* centrer */
.center-block {
  display: grid;
  justify-content: center;
}